@import "../Colors";

.badge {
  display: flex;
  justify-content: center;
  background-color: $primary;
  align-items: center;
  color: $white;
  padding: 5px;
  white-space: nowrap;
  border-radius: 0.35rem;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;

  &.badge--success {
    background-color: $success;
  }

  &.badge--warning {
    background-color: $warning;
  }
}
