@import "../Colors";
@import "../mixins/Gradient";

.btn {
  width: 100px;
  justify-content: center;
  align-items: center;
  display: block;
  border-radius: 0 0.3rem 0.3rem 0;
  color: $white;
  font-weight: bold;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: 1px solid $btn-gradient-from;
  @include gradient($btn-gradient-from, $btn-gradient-to);

  &:hover {
    border-color: $btn-gradient-from-hover;
    @include gradient($btn-gradient-from-hover, $btn-gradient-to-hover);
  }

  &--disabled {
    @include gradient($btn-gradient-from-hover, $btn-gradient-to-hover);
    border-color: $btn-gradient-from-hover;
    cursor: not-allowed;
  }

  & > span {
    text-align: center;
  }
}
