@import "../Colors";

.navigation-tabs {
  font-size: 12px;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: solid 1px lightgrey;

  .navigation-tabs__loader {
    display: flex;
    align-items: center;
  }

  .navigation-tabs__item {
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 0;

    .tab-item__link {
      display: flex;
      align-items: center;
      white-space: nowrap;
      border: 1px solid transparent;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      padding: 0.5rem 1rem;
      color: $primary;
      text-decoration: none;

      .link__badge {
        margin-left: 3px;
      }
    }

    &.navigation-tabs__item--active,
    &:hover {
      border-bottom: 3px solid $primary;
      transition: border-width 0.2s linear;
    }
  }

  &.navigation-tabs--loading {
    justify-content: center;
  }
}
