body {
  overflow: hidden;
}

.app-container {
  height: 100vh;
  overflow: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  .app-container--background {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.container {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 360px) {
  .container {
    max-width: 300px;
  }
}

@media (min-width: 480px) {
  .container {
    max-width: 420px;
  }
}

@media (min-width: 570px) {
  .container {
    max-width: 510px;
  }
}

@media (min-width: 760px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1180px;
  }
}
