@import "../Colors";

.chat-window-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .chat-window {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: $white;
    border-radius: 0.3rem;
    height: 50%;
    width: 75%;
    border: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    padding: 20px;
    opacity: 0.95;

    .chat-window__navs {
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      height: 20px;
    }

    .chat-window__tabs {
      height: 90%;

      .tabs-item {
        height: 100%;
        display: flex;
        flex-direction: column;

        .tabs-item__input {
          margin-top: 15px;
          height: 35px;
          align-items: stretch;
          display: flex;
        }

        .tabs-item__messages {
          height: 100%;
          flex-direction: column;
          overflow: auto;

          .messages__loader {
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;
          }
        }
      }
    }
  }
}

.message-item {
  position: relative;
  display: flex;
  padding: 13px;

  .message-item__avatar {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar__badge {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .message-item__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .body__user-info {
      font-weight: bold;
      display: flex;
      margin-bottom: 5px;
      flex-direction: row;
      justify-content: space-between;
    }

    .body__content {
      white-space: pre-line;
      word-break: break-word;
      hyphens: auto;
      text-align: justify;
    }
  }

  &:hover {
    background-color: lightgrey;
  }
}
