@mixin gradient($colorFrom, $colorTo) {
  background: $colorFrom;
  background: linear-gradient(45deg, $colorFrom 0%, $colorTo 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$colorFrom}, endColorstr=#{$colorTo}, GradientType=1 );
}
