$light: lightgray;
$white: #ffffff;
$dark: #333;

$success: #4bb678;
$warning: #efa843;
$error: #f4574c;

$primary: #424d57;
$secondary: #697179;
$tertiary: #8e949a;

// Backgrounds:
$bg-light: ghostwhite;

// Inputs:
$input-hover: #a5a5a5;
$input-focus: #668de1;

// Buttons:
$btn-gradient-from: $primary;
$btn-gradient-to: $tertiary;
$btn-gradient-from-hover: lighten($btn-gradient-from, 7%);
$btn-gradient-to-hover: lighten($btn-gradient-to, 7%);
